.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
Figures
data/in/NotShared
data/out/NotShared
data/out/*
data/in/*
data/ignore_this
R/NotShared/*
R/NotShared/*
EBM_Holsman_NatComm.Rproj
.Rproj.user
.drake
.DS_Store
Figures/NotShared
!data/out/add_out_filesHere
!data/in/add_in_filesHere
!data/in/raw
!data/in/Run_Defintions.xlsx
R/sub_fun/Fig_fun/NotShared
.httr-oauth
data.zip
EBM_Holsman_NatComm.Rproj
.Rproj.user
NotShared
!data/out/Data_defs.xlsx
