.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/in/NotShared
data/out/NotShared
data/out/*
data/ignore_this
R/NotShared/*
R/NotShared/*
EBM_Holsman_NatComm.Rproj
.Rproj.user
.drake
.DS_Store
Figures/NotShared